.column {
width: 30%;
float: left;
text-align: justify;
padding-left: 20px;
padding-right: 20px;
margin: 12px;
border: 2px solid #944743;
padding: 4px;
background-color: #B4B7BA;
}
body{
  background-color: #C9ADA7;
  padding-top: 10px;
  padding-left: 10px;
  width: 100%;
}
